// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;







/******** SOCIAL *******/
$fb-color:      #3B5998;
$tw-color:      #1DA1F2;
$rss-color:     #f26522;
/******** FLEXSLIDER *******/
$flexslider-1 : $brand-primary;
$flexslider-2 : $brand-secondary;





